<div class="form-wrapper mb-5">

  <div class="shadow p-5 bg-white">
    <div class="form-title">log in</div>

    <div class="row">
      <div class="col-md-12 col-md-offset-12">

        <div class="form-group">
          <%= form_for(:session, url: login_path) do |f| %> 

            <%= f.email_field :email, placeholder: "メールアドレス", class: "form-control", id: "session_email"%>

            <%= f.password_field :password, placeholder: "パスワード", class: "form-control", id: "session_password" %>

            <%= f.submit "ログイン", class: "btn btn-info" %>
          <% end %>
          <p class="pt-3"><%= link_to "新規登録はこちら", signup_path %></p>

        </div>
      </div>
    </div>
  </div>

</div>