<div class="form-wrapper">
  <div class="shadow p-5 bg-white">
    <div class="form-title">edit</div>

    <div class="row">
      <div class="col-md-12 col-md-offset-12">

        <div class="form-group">
          <%= form_for(@user) do |f| %>
            <%= render 'shared/error_messages', object: f.object %> 

            <%= f.text_field :name, placeholder: "名前", class: "form-control"%>

            <%= f.email_field :email, placeholder: "メールアドレス", class: "form-control" %>

            <%= f.password_field :password, placeholder: "パスワード", class: "form-control" %>

            <%= f.password_field :password_confirmation, placeholder: "パスワード（確認）", class: "form-control" %>

            <%= f.submit "とうろく", class: "btn btn-info" %>
          <% end %>
          <p class="pt-3"><%= link_to "アカウントを削除する", user_path(@user), method: :delete,
                             data: { confirm: "投稿も全て削除されます。本当に削除しますか？" } %></p>


        </div>
      </div>
    </div>
  </div>
</div>