<div class="menus">
  <% if logged_in? %>
    <%= render 'shared/user_nenu' %>
  <% end%>
</div>

<div class="profile text-center pb-5">
  <p class="name"><%= @user.name %></p>
  投稿<%= @user.microposts.count %>件
  / もらった<%= icon('fas', 'star')%><%= @favorites_count %>

  / フォロー
  <%= link_to @user.followings.count, following_user_path(@user) %>
  / フォロワー
  <%= link_to @user.followers.count, followers_user_path(@user) %>

  <% if current_user.present? %>
    <% if current_user != @user %>
      <% if current_user.followings.include?(@user) %>
        <p class="mt-3"><%= link_to "フォローを外す", relationship_path(follow_id: @user.id), method: :delete %></p>
      <% else %>
        <p class="mt-3"><%= link_to "フォローする", relationships_path(follow_id: @user.id), method: :post %></p>
      <% end %>
    <% end %>
  <% end %>

</div>

<div class="pict-wrapper">
  <% @microposts.each do |micropost| %>
    <div class="pict shadow bg-white rounded p-1 m-1">
      <%= link_to image_tag(micropost.picture.url), micropost_path(micropost.id)  if micropost.picture? %>
    </div>
  <% end %>
</div>
<%= paginate @microposts %>