<div class="menus">
  <% if logged_in? %>
  <div class="user-menu shadow p-3 mb-5 bg-white rounded">
    <div class="categorys">menu</div>
      <%= link_to "投稿する", new_micropost_path %>
      <%= icon('fas', 'cookie')%>
      <%= link_to "お気に入り", favorites_path %>
      <%= icon('fas', 'cookie-bite')%>
      <%= link_to "アカウント編集", edit_user_path(@user) %>
  </div>
  <% end%>
</div>

<div class="profile text-center pb-5">
  <p class="name"><%= @user.name %></p>
  <%= icon('fas', 'star')%><%= @favorites_count %>
  / フォロー
  <%= link_to @user.followings.count, following_user_path(@user) %>
  / フォロワー
  <%= link_to @user.followers.count, followers_user_path(@user) %>

  <% if current_user.present? %>
    <% if current_user != @user %>
      <% if current_user.followings.include?(@user) %>
        <p class="mt-3"><%= link_to "フォローを外す", relationship_path(follow_id: @user.id), method: :delete %></p>
      <% else %>
        <p class="mt-3"><%= link_to "フォローする", relationships_path(follow_id: @user.id), method: :post %></p>
      <% end %>
    <% end %>
  <% end %>

</div>

<div class="pict-wrapper">
  <% @microposts.each do |micropost| %>
    <div class="pict shadow bg-white rounded p-1 m-1">
      <%= link_to image_tag(micropost.picture.url), micropost_path(micropost.id)  if micropost.picture? %>
    </div>
  <% end %>
</div>
<%= paginate @microposts %>