<header class="footer-section pb-5">
  <div class="container">
    <div class="row">

      <div class="col-lg-12 col-md-12">
        <div class="footer-links">
          <li>
            <%= link_to root_path do %>
              <%= icon('fas', 'caret-right')%>top
            <% end %>
          </li>

          <li>
            <%= link_to about_path do %>
              <%= icon('fas', 'caret-right')%>about
            <% end %>
          </li>

          <li>
            <%= icon('fas', 'caret-right')%>creator
            <%= link_to "https://github.com/kaki11" do %>
              <%= icon('fab', 'github')%>
            <% end %>
            <%= link_to "https://twitter.com/haruuxxx15" do %>
              <%= icon('fab', 'twitter')%>
            <% end %>

          </li> 

        </div>
      </div>

    </div>
  </div>

</header>