<header class="footer-section ">
  <div class="container">
    <div class="row">

      <div class="col-lg-12 col-md-12">
        <div class="footer-links">
          <li>
            <%= link_to "#", class: "logo-title" do %>
              TOP
            <% end %>
          </li>

          <li>
            <%= link_to "#", class: "logo-title" do %>
              ABOUT
            <% end %>
          </li>

          <li>
            <%= link_to "#", class: "logo-title" do %>
              INFO
            <% end %>
          </li> 

          <li>
            <%= link_to "#", class: "logo-title" do %>
              Link
            <% end %>
          </li> 

          <li>
            <%= link_to "#", class: "logo-title" do %>
              Link
            <% end %>
          </li> 

        </div>
      </div>

    </div>
  </div>

</header>