<header class="header-section">
  <div class="container">
    <div class="row">

      <div class="col-lg-5 col-md-12">
        <div class="logo">
          <%= link_to root_path, class: "logo-title" do %>
            Okashi
          <% end %>
        </div>
      </div>

      <div class="col-lg-5 col-md-8">
        <div class="search-form">
          <input type="text" placeholder="検索">
          <div aria-hidden="true">
            <%= icon('fas', 'search')%>
          </div>
        </div>
      </div>
      <% if logged_in? %>
        <div class="col-lg-2 col-md-4">
          <div class="login-links">
            <%= link_to current_user, class: "login-button" do %>
              <%= icon('fas', 'home')%>home
            <% end %>
            <%= link_to logout_path, method: :delete, class: "login-button" do %>
              <%= icon('fas', 'sign-out-alt')%>Logout
            <% end %>

          </div>
        </div>

      <% else %>
        <div class="col-lg-2 col-md-4">
          <div class="login-links">
            <%= link_to login_path, class: "login-button" do %>
              <%= icon('fas', 'sign-in-alt')%> Login
            <% end %>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</header>