<div class="side-contents p-2">
  <p class="category">カテゴリ</p>

  <span class="">お菓子</span>
  <div class="category-list">
    <%= link_to "クッキー", "#", class: ""%>
    <%= link_to "タルト", "#", class: ""%>
    <%= link_to "パウンドケーキ", "#"%>
    <%= link_to "マフィン", "#"%>
    <%= link_to "スコーン", "#", class: ""%>
    <%= link_to "ケーキ", "#"%>
    <%= link_to "チーズケーキ", "#"%>
    <%= link_to "パイ生地のお菓子", "#"%>
    <%= link_to "チョコレートのお菓子", "#"%>
    <%= link_to "その他のお菓子", "#", class: ""%>
  </div>

  <p class="category"></p>

  <span class="">パン</span>
  <div class="category-list">
    <%= link_to "食パン", "#", class: ""%>
    <%= link_to "クロワッサン", "#", class: ""%>
    <%= link_to "ベーグル", "#"%>
    <%= link_to "バケッド", "#"%>
    <%= link_to "菓子パン", "#", class: ""%>
    <%= link_to "自家製酵母・天然酵母", "#"%>
    <%= link_to "その他のパン", "#"%>
    <%= link_to "パイ生地のお菓子", "#"%>
    <%= link_to "チョコレートのお菓子", "#"%>
    <%= link_to "その他のお菓子", "#", class: ""%>
  </div>

  <p class="category"></p>

  <span class="">その他</span>
  <div class="category-list">
    <%= link_to "料理", "#"%>
    <%= link_to "ドリンク", "#"%>
  </div>

</div>