<div class="user-menu shadow p-3 mb-5 bg-white rounded">
  <div class="categorys">
    menu
  </div>
  <%= link_to "投稿する", new_micropost_path %>
  <%= icon('fas', 'cookie')%>
  <%= link_to "お気に入り", favorites_path %>
  <%= icon('fas', 'cookie-bite')%>
  <%= link_to "アカウント編集", edit_user_path(@user) %>
</div>