<div class="form-wrapper">

  <div class="shadow p-5 bg-white">
    <div class="form-title">new</div>

      <div class="row">
        <div class="col-md-12 col-md-offset-12">

          <div class="form-group">
            <%= form_for(@micropost) do |f| %>
              <%= render 'shared/error_messages', object: f.object %> 

              <%= f.collection_select :category_id, Category.all, :id, :name, prompt: "カテゴリー選択"%> 

              <%= f.text_field :title, placeholder: "タイトル", class: "form-control" %>

              <%= f.text_area :content, placeholder: "内容", rows: "10", class: "form-control" %>

              <%= f.file_field :picture, accept: "image/jpeg,image/gif,image/png", class: "form-control" %>

              <%= f.submit "投稿", class: "btn btn-info" %>

            <% end %>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
