<div class="contents-box">

  <div class="left-contents shadow p-5 bg-white">
    <div class="pict-main">
      <%= image_tag(@micropost.picture.url) %>
    </div>

    <div class="date text-right">
      <%= icon('fas', 'heart')%>20
    </div>
    <div class="date text-right">
      <%= icon('fas', 'clock')%>
      <%= @micropost.created_at.strftime("%Y/%m/%d %H:%M") %>
      
      <% if @micropost.updated_at != @micropost.created_at %>
      →
      <%= @micropost.updated_at.strftime("%Y/%m/%d %H:%M") %>
      <% end %>
    </div>

    <div class="pict-group">

      <h3 class="pict-title pb-2">
        <%= @micropost.title %>
      </h3>
      <div class="pict-content pb-4">
        <%= @micropost.content %>
      </div>

    </div>
  </div>

  <div class="right-contents shadow p-5 bg-white ml-3">
    <div class="delete-link">
      <% if current_user?(@micropost.user) %>

        <%= link_to micropost_path(@micropost), method: :delete, data: { confirm: "本当に削除しますか？" } do %>
          <%= icon('fas', 'trash')%>
        <% end %>
        <%= link_to edit_micropost_path(@micropost) do %>
          <%= icon('far', 'edit')%>
        <% end %>

      <% end %>
    </div>

    <%= link_to @micropost.user.name, @micropost.user %>さんの投稿
    <div class="btn-group pb-3 pt-3">
      <div class="page-link text-secondary d-inline-block rounded mr-1">
        <%= icon('fas', 'heart')%>いいね！
      </div>
      <div class="page-link text-secondary d-inline-block rounded mr-1">
        <%= icon('fas', 'star')%>お気に入り
      </div>
      <div class="page-link text-secondary d-inline-block rounded mr-1">
        <%= icon('fas', 'share')%>シェア
      </div>
      <div class="page-link text-secondary d-inline-block rounded">
        <%= icon('fas', 'comment')%>コメント
      </div>
    </div>

    <div class="comment-list">
      こめんと
    </div>
  </div>

</div>
