<div class="contents-box">

  <div class="left-contents shadow p-5 bg-white">
    <div class="pict-main">
      <%= image_tag(@micropost.picture.url) %>
    </div>

    <div class="date text-right">
      <%= icon('fas', 'star')%><%= @micropost.favorites.count %>
      <%= icon('fas', 'comment')%><%= @micropost.comments.count %>
    </div>
    <div class="date text-right">
      <%= icon('fas', 'clock')%>
      <%= @micropost.created_at.strftime("%Y/%m/%d %H:%M") %>
      
      <% if @micropost.updated_at != @micropost.created_at %>
      →
      <%= @micropost.updated_at.strftime("%Y/%m/%d %H:%M") %>
      <% end %>
    </div>

    <div class="pict-group">

      <h3 class="pict-title pb-2">
        <%= @micropost.title %>
      </h3>
      <div class="pict-content pb-4">
        <%= @micropost.content %>
      </div>

    </div>
  </div>

  <div class="right-contents shadow p-5 bg-white ml-3">
      <%# ログイン中のユーザーメニュー %>
    <% if current_user?(@micropost.user) %>
      <div>
        <%= link_to @micropost.user.name, @micropost.user %>
      </div>
      <div class="btn-group pb-3 pt-3">
        <div class="page-link text-secondary d-inline-block rounded mr-1">
          <%= link_to edit_micropost_path(@micropost) do %>
            <%= icon('far', 'edit')%>投稿を編集する
          <% end %>
        </div>
        <div class="page-link text-secondary d-inline-block rounded mr-1">
          <%= link_to micropost_path(@micropost), method: :delete, data: { confirm: "本当に削除しますか？" } do %>
            <%= icon('fas', 'trash')%>投稿を削除する
          <% end %>
        </div>
      </div>
      <%# ログインしていないユーザーメニュー %>
    <% else %>
      <div>
        <%= link_to @micropost.user.name, @micropost.user %>さんの投稿
      </div>
      <div class="btn-group pb-3 pt-3">
        <div class="page-link text-secondary d-inline-block rounded mr-1">
          <% if !@micropost.favorite_users.include?(current_user) %>
            <%= link_to favorites_path(micropost_id: @micropost.id), method: :post do %>
              <%= icon('fas', 'star')%>お気に入り
            <% end %>
          <% else %>
            <%= link_to favorite_path(micropost_id: @micropost.id), method: :delete do %>
              <%= icon('fas', 'star')%>登録済み
            <% end %>
          <% end %>
        </div>
        <div class="page-link text-secondary d-inline-block rounded mr-1">
          <%= icon('fas', 'share')%>シェア
        </div>
      </div>

    <% end %>

    <div class="comment-list">
      <div class="comment pb-5">
        <%= form_for(@comment) do |f| %>
          <%= f.text_field :content, class: "form-control comment-form" %>
          <%= f.hidden_field :micropost_id, value: @micropost.id %>
          <%= f.submit "コメントする", data: { confirm: "削除できるのは投稿管理者のみです。投稿してよろしいですか？" },
                                            class: "page-link text-secondary d-inline-block rounded" %>
        <% end %>
      </div>
      <div class="comment pb-3">Comments</div>
      <% @comments.each do |comment| %>
        <div class="border-bottom">
          <div>
            <% if comment.user_id.present? %>
              <%= link_to comment.user.name, comment.user %>
            <% else %>
              <span class="user-name">名無しさん</span>
            <% end %>
          </div>
          <div>
            <%= comment.content %>
          </div>
          <div class="text-right">
            <%# コメント削除機能 %>
            <%# if current_user?(@micropost.user) || comment.user.id == current_user.id %>
            <% if current_user?(@micropost.user) %>
              <%= link_to comment_path(comment), method: :delete, data: { confirm: "本当に削除しますか？" } do %>
                <%= icon('fas', 'trash')%>
              <% end %>
            <% end %>
            <span class="date"><%= icon('fas', 'clock')%>
            <%= comment.created_at.strftime("%Y/%m/%d %H:%M") %></span>
          </div>
        </div>
      <% end %>

    </div>
    <%= paginate @comments %>
  </div>

</div>